@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th, .table td {
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
}

.table th {
    background-color: #edf2f7;
    font-weight: bold;
    text-align: left;
}

.table tbody tr:hover {
    background-color: #f7fafc;
}

.table tbody td {
    vertical-align: top;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Background color to show when image doesn't cover entire area */
}

.carouselImage {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; /* Ensures the image is contained within the given dimensions */
}